<div class="assignments">
  <h2>Assignments</h2>
  <ul class="list-group">
    <% @assignments.each do |assignment| %>
      <li class="list-group-item"><%= link_to assignment.title, assignment.url, target: "_blank" %></li>
    <% end %>
  </ul>
  <p class="submission">For instructions on how to submit assignments, click <%= link_to "here", "https://s3.amazonaws.com/ctcberkeley/assignments/submission-instructions.pdf", target: "_blank" %>.</p>
</div>