<div class="syllabus">
  <h2>Syllabus</h2>
  <h4>Basic Information</h4>
  <table class="table table-bordered">
    <tr>
      <td>Facilitator</td>
      <td>Michael Lannin</td>
    </tr>
    <tr>
      <td>Instructor of Record</td>
      <td>Pieter Abbeel</td>
    </tr>
    <tr>
      <td>Number of Units</td>
      <td>2 Units</td>
    </tr>
    <tr>
      <td>Time &amp; Location</td>
      <td>Monday, 6:00pm to 8:00pm, 405 Soda</td>
    </tr>
    <tr>
      <td>Suggested Prerequisite</td>
      <td>CS 61A</td>
    </tr>
  </table>
  <h4>Course Overview and Overview</h4>
  <p><strong>Description:</strong> This course aims to teach students web technologies by working on real­world projects with non­profit and social­sector partners. The first part of this class will be geared towards covering basic web development topics and providing resources for more advanced learning. In the second part of the class, students will work in small teams to implement high­impact projects for partner organizations.
  <p><strong>Suggested Prerequisite:</strong> We recommend that students complete CS 61A prior to this class. Students are expected to have prior programming experience but web application experience is not mandatory. The class will be open to students of all years and we will be encouraging teams of people with mixed experience so that beginners can learn from people with more experience. Enrollment Requirements: Students are required to submit an application and attend the first class.</p>
  <p><strong>Objectives:</strong> By the end of the course, students should:
    <ul>
      <li>Have a solid understanding of web development technologies</li>
      <li>Be aware of more complex web technologies and have resources for learning them</li>
      <li>Have completed a web development project for a nonprofit organization</li>
    </ul>
  </p>
  <h4>Grading</h4>
  <p><strong>Percentage Breakdown:</strong> Your grade in the class will be based on six assignments, a final project and presentation, and participation and attendance. The following percentages will determine the makeup of your grade:
    <ul>
      <li>Each assignment will be worth 5% each</li>
      <li>The final project and presentation will be worth 50%</li>
      <li>Participation and attendance will be worth 20%</li>
    </ul>
  </p>
  <p><strong>Assignments:</strong> The first part of the class will be centered around learning. During this section of the course, homeworks will be assigned as a means to test students’ understanding of the material covered in the class.
  <p><strong>Final Project and Presentation:</strong> The second part of the class will be focused on the implementation of a project for a nonprofit organization. The goal is to create something that students can hand off to the organization at the end of the semester. Students will be expected to give a presentation on their project on the last day of class.</p>
  <p><strong>Participation and Attendance:</strong> Given that there is only one class meeting per week and that collaboration with other students is crucial, attendance and participation is very important. We expect students to attend all class sessions unless they get an absence excused.</p>
  <h4>Additional Information</h4>
  <p><strong>Lightning Talks:</strong> Once the project portion of the class has begun, student teams will give lightning talks each class. In these talks, they will give quick (1­2 minute) updates on their projects to everyone in the class. This will help students learn what other teams are doing and stay accountable.</p>
  <p><strong>Outside Work:</strong> Much of the work will be done outside of class time. However, many issues in web development are best solved as a team. Thus, class time is great for debugging as a group, pair programming, or getting help from the instructors.</p>
</div>