<li>
  <div class="ch-item" style="background-image:url('<%= officer.image.url(:medium) %>')">
    <div class="ch-info">
      <h3><%= officer.name %></h3>
      <p><%= officer.position %></p>
    </div>
  </div>
</li>