<div class="schedule">
  <h2>Schedule</h2>
  <table class="table table-striped">
    <tr>
      <th>Week</th>
      <th>Date</th>
      <th>Topic</th>
      <th>Slides</th>
    </tr>      
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.week %></td>
        <td><%= lesson.date.strftime("%b %e") %></td>
        <td><%= lesson.topic %></td>
        <td>
          <% lesson.lectures.each do |lecture| %>
            <%= link_to lecture.title, lecture.url, target: "_blank" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>