<% title "Apply" %>
<div class="applications">
  <div class="container">
    <h1>Applications </h1>
    <p>Applications are not out yet but please check back with us soon!</p>
    <p>These are the Code the Change applications for the fall 2014 semester. Thank you for showing interest in becoming a member of Code the Change! Please contact us at <%= mail_to "berkeley@codethechange.org" %> if you have any other questions about becoming a member.</p>
    <h3>Project Applications - <a href="">apply here</a></h3>
    <div class="row">
      <div class="col-md-1"> </div>
      <div class="col-md-5">
        <h3><span class="label label-primary">Project Manager</span></h3>
        <p>Responsible for leading a small team in planning and creating a web app and communicating with your non profit.</p>
      </div>
      <div class="col-md-5">
        <h3><span class="label label-primary">Project Team Member</span></h3>
        <p>Responsible for developing and learning on a small team, attending team meetings and communicating with the project manager and the rest of the team.</p>
      </div>
      <div class="col-md-1"> </div>
    </div>
    <h3>Operations Applications - <a href="">apply here</a></h3>
    <div class="row">
      <div class="col-md-1"> </div>
      <div class="col-md-5">
        <h3><span class="label label-primary">Finance Officer</span></h3>
        <p>Responsible for building relationships with corporate sponsors, planning fundraising initiatives, budgeting club events.</p>
      </div>
      <div class="col-md-5">
        <h3><span class="label label-primary">Events Officer</span></h3>
        <p>Responsible for planning club events, recruiting new members and marketing.</p>
      </div>
      <div class="col-md-1"> </div>
    </div>
    <h3>DeCal Applications - <a href="http://www.webdevfornonprofits.org">apply here</a></h3>
    <div class="row">
      <div class="col-md-1"> </div>
      <div class="col-md-5">
        <h3><span class="label label-primary">DeCal Student</span></h3>
        <p>In the DeCal you will participate in lessons and assignments that teach the basics of web development. You will then get to work on a small project for a real non profit.</p>
      </div>
      <div class="col-md-5"> </div>
      <div class="col-md-1"> </div>
    </div>
  </div>
</div>
