<div class="hero">
  <div class="container">
    <%= image_tag("/assets/code-the-change-logo-with-text.png", class: "img-responsive") %>
    <p class="lead">We help computer scientists use their skills to make social change an integral part of computer science culture.</p>
  </div>
</div>