<% title "Sponsors" %>
<% description "" %>
<%= stylesheet_link_tag "sponsors" %>

<div class="course">
  <div class="container">
    <div class="row">
        <h1>Sponsorship Packages</h1>
        <P>Thank you for showing interest in becoming a sponsor for Code the Change. Please be sure to 
        <a href="https://www.facebook.com/ctcberkeley">like</a>
        us on Facebook and contact us at 
        <a href="mailto:berkeley@codethechange.org">berkeley@codethechange.org</a>
        if you have any questions about becoming a sponsor.
        </P>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3><span class="label label-default label-bronze">Bronze</span> $200-$500</h3>
            <p>Includes company logo on our sponsor page and resume book.</p>
        </div>
        <div class="col-md-4">
            <h3><span class="label label-default label-silver">Silver</span> $500-$1000</h3>
            <p>Includes one on-campus informational session or workshop, company logo on sponsor page, and resume book.</p>
        </div>
        <div class="col-md-4">
            <h3><span class="label label-default label-gold">Gold</span> >$1000</h3>
            <p>Includes multiple on-campus informational sessions / workshops / events, company logo on sponsor page, and resume book.</p>
        </div>
    </div>
    <!--
    <form action="sponsormail.php" method="POST">
        <p>Name</p> <input type="text" name="name">
        <p>Company</p> <input type="text" name="company">
        <p>Email</p> <input type="text" name="email">
        <p>Preferred Sponsorship Package:</p>
        <select name="type" size="1">
            <option value="Gold">Gold</option>
            <option value="Silver">Silver</option>
            <option value="Bronze">Bronze</option>
        </select>
        <br>
        <p>Message</p><textarea name="message" rows="6" cols="25"></textarea><br>
        <input type="submit" value="Send"><input type="reset" value="Clear">
    </form>
    -->
  </div>
</div>

