<% title "Sponsors" %>
<% description "" %>

<div class="course">
  <div class="container">
    <div class="row">
        <h2>How To Become a Sponsor</h2>
        <P>Thank you for showing interest in becoming a sponsor for Code the Change. Please be sure to 
        <a href="https://www.facebook.com/ctcberkeley">like</a>
        us on Facebook and contact us at 
        <a href="mailto:berkeley@codethechange.org">berkeley@codethechange.org</a>
        </P>
    </div>
  </div>
</div>

