<p>
  <strong>Title:</strong>
  <%= assignment.title %>
</p>

<p>
  <strong>Due:</strong>
  <%= assignment.due %>
</p>

<p>
  <strong>Description:</strong>
  <%= assignment.description %>
</p>

<p>
  <%= link_to 'Destroy Assignment', [:admin, assignment.lesson, assignment], method: :delete, data: { confirm: 'Are you sure?' } %>
</p>