<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb">
      <li><%= link_to "Admin", admin_path %></li>
      <li><%= link_to "Assignments", admin_assignments_path %></li>
      <li><%= link_to "Assignment", admin_assignment_path(@assignment) %></li>
      <li class="active">Edit</li>
    </ol>
  </div>
</div>

<div class="section">
  <div class="container">
    <h1>Edit Assignment</h1>

    <%= render 'form' %>
  </div>
</div>