<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb">
      <li><%= link_to "Admin", admin_path %></li>
      <li><%= link_to "Assignments", admin_assignments_path %></li>
      <li class="active">New</li>
    </ol>
  </div>
</div>

<div class="section">
  <div class="container">
    <h2>New Assignment</h2>

    <%= render 'form' %>
  </div>
</div>