<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb">
      <li><%= link_to "Admin", admin_path %></li>
      <li><%= link_to "Terms", admin_terms_path %></li>
      <li class="active">New</li>
    </ol>
  </div>
</div>

<div class="section">
  <div class="container">
    <h1>New Term</h1>

    <%= render 'form' %>

    <%= link_to 'Back', admin_terms_path %>
  </div>
</div>