/*
 * Base
 *
 * Universal elements across the site
 */

/* Layout */
html,
body {
  height: 100%;
}
.main {
  min-height: 100%;
  height: auto;
  margin: 0 auto -100px;
  padding: 50px 0 100px;
}

/* Sections */
.section {
  padding-bottom: 40px;
}

/* Subheaders */
.subheader {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 5px 0;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.1em;
}

/* Messages */
.messages {
  .alert {
    margin-top: 20px;
  }
}

/* Panels */
.ctc-panel-group {
  a {
    text-decoration: none;
    .panel-title {
      margin-bottom: 3px;
    }
  }
  p {
    font-size: 13px;
    margin-bottom: 0;
  }
}

/* Breadcrumbs */
.breadcrumbs {
  padding-top: 20px;
}
