body {
  font-family: "proxima-nova", sans-serif;
  color: #777;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "omnes-pro",sans-serif;
  color: #4b4b4b;
}

a {
  color: #3b8bba;
}

a:hover,
a:focus,
a:visited {
  color: #265778;
  text-decoration: none;
}