/*
 * Main navigation
 *
 * Custom styles for the navbar
 */

.ctc-navbar {
  text-shadow: 0 -1px 0 rgba(0,0,0,.15);
  background-color: #027AC6;
  border-color: #0062A0;
  box-shadow: 0 1px 0 rgba(255,255,255,.1);
  .navbar-collapse {
    border-color: #0062A0;
  }
  .navbar-nav > li > a {
    color: #D0E8F9;
  }
  .navbar-nav > li > a:hover {
    color: #fff;
  }
  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #0062A0;
  }
  .navbar-toggle {
    border-color: #027AC6;
  }
  .navbar-toggle:hover {
    background-color: #0062A0;
    border-color: #0062A0;
  }
}