<footer class="ctc-footer" role="contentinfo">
  <div class="container">
    <p>&copy; 2014 Code the Change</p>
    <ul class="footer-links">
      <li><%= link_to "Email", "mailto:berkeley@codethechange.org" %></li>
      <li class="muted">&middot;</li>
      <li><%= link_to "Facebook", "https://www.facebook.com/ctcberkeley" %></li>
      <li class="muted">&middot;</li>
      <li><%= link_to "GitHub", "https://github.com/ctcberkeley" %></li>
    </ul>
  </div>
</footer>