<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <title>Code The Change</title>
    
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  </head>
  <body>

    <%= yield %>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>
